:root {
  --background: #ffffff;
  --foreground: #171717;

  // background gradients
  --color-bg1: rgb(51, 40, 63);
  --color-bg2: rgb(20, 15, 74);

  --color1: 238, 160, 163;
  --color2: 91, 151, 247;
  --color3: 85, 79, 147;
  --color4: 139, 42, 34;
  --color5: 20, 15, 74;
  --circle-size: 100%;
  --blending: hard-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-monument-extended);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
