@import '../../breakpoints';

.attention {
  position: relative;
  min-height: 100vh;

  &__light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/light-bar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    filter: blur(100px);
    opacity: 0;
    text-transform: uppercase;

    font-size: 32px;

    @include mobile-query {
      font-size: 16px;
    }

    &__word {
      display: flex;
      gap: 0px;

      &__text {
        max-width: 0px;
        filter: blur(100px);
        overflow: hidden;
      }
    }
  }

  &__finaltext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 32px;
    @include mobile-query {
      font-size: 16px;
    }

    &__text {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      @include mobile-query {
        width: 90%;
      }
    }
  }
}
