.leaderboard {
  min-height: 100svh;

  padding: 0px 60px;
  padding-bottom: 100px;

  &__headlines {
    padding-top: 500px;
    font-size: 40px;
    font-weight: 700;
  }

  &__wrapper {
    &__header {
      padding-top: 50px;
      margin-bottom: 160px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__subwrapper {
    opacity: 0;
    transition: all ease 0.3s;
    &__show {
      opacity: 1;
    }
  }

  &__subtext {
    width: 40%;
    font-size: 18px;
    font-weight: 300;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.3s;
    &__show {
      opacity: 1;
    }
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #50505a;
    margin-bottom: 97px;

    &__item {
      cursor: pointer;
      color: #50505a;
      font-size: 24px;
      font-weight: 700;
      transition: all ease 0.3s;
      &__selected {
        font-size: 64px;
        color: white;
      }
    }
  }

  &__gallery {
    &__wrapper {
      width: fit-content;
      display: flex;
      flex-wrap: nowrap;
      gap: 33px;
      &__item {
        width: 423px;
        opacity: 1;
        transition: all ease 0.3s;

        &__index {
          font-size: 64px;
          font-weight: 700;
        }

        &__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          &__title {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &__image {
          margin-bottom: 18px;
        }

        &__viewers {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          &__increment {
            font-size: 24px;
            font-weight: 700;
          }

          &__text {
            font-size: 14px;
            font-weight: 300;
            color: #50505a;
          }
        }
      }
    }
  }
}
